In [1]:
#Importing required packages and files
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import os

#These imports were constructed
from wrangle import wrangle_zillow

#Tools to build machine learning models and reports
from sklearn.model_selection import train_test_split

#Removes warnings and imporves asthenics
import warnings
warnings.filterwarnings("ignore")

#Sets an option to show all columns
pd.options.display.max_columns = None
pd.options.display.width = 100
pd.options.display.max_colwidth = None

Target column = taxvaluedollarcnt

Dropping all null values had a small affected on all fields except the upper outliers.
- Measured by viewing the difference of a before and after DataFrame.describe()
- code: 'change = round(before_df.describe - after_df.describe,2)'

In [2]:
master_df = wrangle_zillow()

In [3]:
schema = pd.read_excel('zillow_data_dictionary.xlsx')
#schema
schema.loc[[4, 3, 11, 51, 50, 54]]

                           Feature                                                  Description
4                     'bedroomcnt'                                  Number of bedrooms in home
3                    'bathroomcnt'   Number of bathrooms in home including fractional bathrooms
11  'calculatedfinishedsquarefeet'           Calculated total finished living area of the home
51             'taxvaluedollarcnt'                   The total tax assessed value of the parcel
50                     'yearbuilt'                  The Year the principal residence was built
54                     'taxamount'     The total property tax assessed for that assessment year